<style>
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
</style>

body {
  font-family: 'Covered By Your Grace', cursive;
}

p {
  font-style: italic;
  
  font-size: 20px;
}
.navbar {
  overflow:hidden;
  backgoround-color: #956C63;
}
.navbar a {
  float:left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #A09CD7 
    color: #242054
    
.navbar a.active {
  background-color: #474560 
    color: #050045
  }
