<style>
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
</style>

body {
  font-family: 'Covered By Your Grace', cursive;
}

p {
  font-style: italic;
  
  font-size: 10px;
}
.navbar {
  overflow:hidden;
  backgoround-color: #956C63;
}
